* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-container {
    background-color: #ffffff;
    height: 100vh;
}

.main-header {
    background-color: #fff;
    padding-top: 15px;
    height: 100px;
    width: 100%;
    border: none;
    box-shadow: 5px 5px 20px 10px #e1e1e1;
    position: fixed;
}

.header {
    padding-left: 200px;
    display: flex;
}

.button {
    padding-left: 500px;
}

.button th {
    color: #7a7a7a;
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.button th a{
    color: #7a7a7a;
    text-decoration: none;
}

.button th a:hover {
    font-size: 20px;
    color: #000;
}

.button th a:focus {
    font-size: 20px;
    color: #000;
}
/* .dropdown{
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    height: 50px;
    width: 300px;
    background-color: #712222;
}

.dropdown1{
    position: absolute;
    display: none;
    box-shadow: 5px 5px 20px 10px #000;
    width: 300px;
    height: 100px;

}

.dropdown:hover .dropdown1 {
    display: block;
} */

.button1 {
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    margin: 10px 0px 0px 50px;
    width: 150px;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.button1:hover {
    background-color: #004ecb;
}

.body1 {
    font-size: 60px;
    padding: 250px 0px 0px 220px;
    font-family: 'Inter', sans-serif;

}

.name {
    font-size: 70px;
}

.name2 {
    line-height: 40px;
    padding-top: 40px;
    font-size: 20px;
}

.body2 img {
    margin: -870px 0px 0px 952px;
    width: 950px;
    height: 950px;
}

.body1 button {
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    margin: 60px 0px 0px 0px;
    width: 160px;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.body1 button:hover {
    background-color: #004ecb;
}

.name3 {
    font-size: 17px;
    color: #0C66F3;
}

.name4 {
    font-size: 40px;
}

.body3 {
    margin-left: 180px;
}

.img1 {
    margin-left: 10px;
}

.body3 img {
    padding: 0px 200px 0px 200px;
}

.body4 {
    padding: 20px 0px 0px 200px;
}

.body4 b {
    font-size: 20px;
    padding: 0px 100px 0px 100px;
    font-family: 'Inter', sans-serif;
}

.body5 {
    display: flex;
}

.body5 p {
    font-size: 16px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
    color: #7a7a7a;
}

.name5 {
    margin-left: 80px;
}

.body4 button {
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    margin: 50px 0px 0px 680px;
    width: 160px;
    height: 55px;
    font-family: 'Inter', sans-serif;
}

.body4 button:hover {
    background-color: #004ecb;
}

.body6 {
    margin: 100px 0px 0px 210px;
}

.page {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #7a7a7a;
}

.body6 button {
    margin: 30px 0px 0px 0px;
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    width: 200px;
    height: 55px;
    font-family: 'Inter', sans-serif;
}

.body6 button:hover {
    background-color: #004ecb;
}

.time {
    margin: -35px 0px 0px 300px;
    color: #004ecb;
    font-family: 'Inter', sans-serif;
}

.body7 {
    font-weight: bold;
    color: #0053d8;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.body7 b {
    color: #000;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.img2 {
    width: 680px;
    height: 680px;
    margin: 10px 0px 0px 0px;
}

.body8 {
    margin: -950px 0px -400px 760px;
    border: 1px solid #e3e3e3;
    width: 1px;
    height: 900px;
}

.body8 img {
    margin: 250px 0px 0px 300px;
}

.body9 b {
    margin: -980px 0px 0px 1050px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.body9 p {
    margin: 20px 0px 410px 900px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.body10 {
    border: none;
    width: 100%;
    height: 700px;
    background-color: #f1f3ff;
    display: flex;
}


.img4 {
    margin: 80px 0px 0px 260px;
}

.img5 {
    margin: 70px 0px 0px 450px;
}

.body12 {
    margin: 110px 0px 0px 100px;
}

.body12 p {
    font-weight: bold;
    color: #004ecb;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.body12 b {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}

.page1 {
    color: #7a7a7a;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
}

.body12 button {
    margin: 30px 0px 0px 0px;
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    width: 180px;
    height: 55px;
    font-family: 'Inter', sans-serif;
}

.body12 button:hover {
    background-color: #004ecb;
}

.body13 p {
    font-weight: bold;
    padding: 50px 0px 0px 0px;
    font-size: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.img6 {
    margin: 0px 0px 250px 450px;
    width: 200px;
}

.img7 {
    margin: 0px 0px 170px 580px;
}

.body14 {
    margin-top: -80px;
    background-color: #f1f3ff;
    border: none;
    width: 100%;
    height: 980px;
}

.page2 p {
    text-align: center;
    font-size: 18px;
    padding: 50px 0px 10px 0px;
    font-weight: bold;
    color: #004ecb;
    font-family: 'Inter', sans-serif;
}

.page2 a {
    margin: 0px 0px 0px 780px;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.body15 {
    display: flex;
    margin: 50px 0px 0px 220px;
}

.body16 {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 700px;
    height: 580px;
    background-color: #fff;
}

.body16 img {
    margin: 30px 0px 0px 30px;
    width: 640px;
    border-radius: 10px 10px 0px 0px;
}

.body17 {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 700px;
    height: 580px;
    margin-left: 50px;
    background-color: #fff;
}

.body17 img {
    margin: 30px 0px 0px 30px;
    width: 640px;
    height: 365px;
    border-radius: 10px 10px 0px 0px;
}

.page3 {
    padding-left: 30px;
    color: #0053d8;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.page4 {
    padding-left: 30px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.page5 {
    padding-left: 30px;
    color: #7a7a7a;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.body14 button {
    margin: 90px 0px 0px 860px;
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    width: 170px;
    height: 55px;
    font-family: 'Inter', sans-serif;
}


.body14 button:hover {
    background-color: #004ecb;
}

.display-flex {
    display: flex;
    margin: 20px 0px 0px 100px;
}

.body18 {
    border: 1px solid #000;
    background-color: #121212;
    width: 100%;
    height: 450px;
}

.body19 {
    margin: 50px 100px 0px 120px;
    font-size: 25px;
    color: #fff;
}

.body20 {
    margin: 50px 0px 0px 140px;
    border: none;
    width: 200px;
    height: 250px;
    font-family: 'Inter', sans-serif;
}

.body20 p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.body20 a {
    line-height: 35px;
    color: #7a7a7a;
    text-decoration: none;
}

.body20 a:hover {
    color: #ffffff;
    font-size: 17px;
}

.body21 {
    margin: 50px 0px 0px 70px;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 200px;
    height: 250px;
    color: #fff;
}

.body21 p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.body21 a {
    line-height: 35px;
    color: #7a7a7a;
    text-decoration: none;
}

.body21 a:hover {
    color: #ffffff;
    font-size: 17px;
}


.body22 {
    margin: 50px 0px 0px 70px;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 200px;
    height: 250px;
    color: #fff;
}

.body22 p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.body22 a {
    line-height: 35px;
    color: #7a7a7a;
    text-decoration: none;
}

.body22 a:hover {
    color: #ffffff;
    font-size: 17px;
}

.page9 {
    padding: 30px 0px 20px 0px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 25px;
}

.page10 {
    color: #7a7a7a;
    font-size: 17px;
    padding: 20px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
}

.page11 {
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    padding: 5px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
}

.page12 {
    margin-top: 90px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}