* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-header {
    background-color: #fff;
    padding-top: 15px;
    height: 100px;
    width: 100%;
    border: none;
    box-shadow: 5px 5px 20px 10px #e1e1e1;
    position: fixed;
}

.header {
    padding-left: 200px;
    display: flex;
}

.button {
    padding-left: 500px;
}

.button th {
    color: #7a7a7a;
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.button th a {
    color: #7a7a7a;
    text-decoration: none;
}


.button th a:hover {
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

.button th a:focus {
    font-size: 22px;
    color: #000;
}

/* .dropdown{
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    height: 50px;
    width: 300px;
    background-color: #712222;
}

.dropdown1{
    position: absolute;
    display: none;
    box-shadow: 5px 5px 20px 10px #000;
    width: 300px;
    height: 100px;

}

.dropdown:hover .dropdown1 {
    display: block;
} */

.button1 {
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    margin: 10px 0px 0px 50px;
    width: 150px;
    height: 50px;
    font-family: 'Inter', sans-serif;
}

.button1:hover {
    background-color: #004ecb;
}

.body1 {
    display: flex;
}

.display1 h1 {
    color: #183b56;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    margin: 280px 0px 50px 220px;
}

.display1 p {
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    margin: 0px 0px 0px 220px;
    font-size: 18px;
    color: #7a7a7a;
}

.display2 img {
    margin: 200px 0px 0px 110px;
    width: 900px;
    height: 560px;
}

.display-flex1 {
    display: flex;
}

.display3 img {
    margin: 150px 0px 0px 60px;
    width: 800px;
    height: 520px;
}

.display4 h1 {
    line-height: 70px;
    color: #183b56;
    font-size: 47px;
    font-family: 'Inter', sans-serif;
    margin: 200px 0px 0px -20px;
}

.display4 p {
    line-height: 30px;
    color: #7a7a7a;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin: 50px 0px 0px -20px;
}


.display-flex2 {
    display: flex;
}

.display5 h1 {
    line-height: 70px;
    color: #183b56;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    margin: 400px 0px 0px 200px;
}

.display5 p {
    color: #7a7a7a;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin: 50px 0px 0px 200px;
}

.display6 {
    margin: 50px 0px 0px 120px;
    line-height: 50px;
}

.display6 img {
    margin: 0px 0px 0px 100px;
}

.display6 a {
    margin: 0px 0px 0px 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}


.display7 img {
    width: 850px;
    margin: 140px 0px 0px 140px;
}

.display8 {
    padding-top: 70px;
    text-align: center;
    border: 1px solid #000;
    width: 100%;
    height: 400px;
    background-color: #0053d8;
}

.display8 h1 {
    color: #fff;
    padding: 0px 0px 10px 0px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.display8 p {
    color: #fff;
    padding: 10px 0px 60px 0px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.display9 {
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    width: 400px;
    height: 50px;
}

.display9 img {
    padding-top: 15px;
}


.display9 input {
    border: none;
    margin: 0px 10px 0px 0px;
    outline: none;
    width: 250px;
    height: 40px;
    font-size: 17px;
    padding-left: 5px;
    font-family: 'Inter', sans-serif;
}

.display9 button {
    cursor: pointer;
    color: #fff;
    background-color: #0053d8;
    border: none;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding-left: 5px;
    font-family: 'Inter', sans-serif;
}


.body14 {
    margin-top: 100px;
    background-color: #f1f3ff;
    border: none;
    width: 100%;
    height: 980px;
}

.body14 button {
    margin: 90px 0px 0px 860px;
    cursor: pointer;
    color: #fff;
    background-color: #0c66f3;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 800px;
    width: 170px;
    height: 55px;
    font-family: 'Inter', sans-serif;
}


.body14 button:hover {
    background-color: #004ecb;
}

.page2 p {
    text-align: center;
    font-size: 18px;
    padding: 50px 0px 10px 0px;
    font-weight: bold;
    color: #004ecb;
    font-family: 'Inter', sans-serif;
}

.page2 a {
    margin: 0px 0px 0px 780px;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.body15 {
    display: flex;
    margin: 50px 0px 0px 220px;
}

.body16 {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 700px;
    height: 580px;
    background-color: #fff;
}

.body16 img {
    margin: 30px 0px 0px 30px;
    width: 640px;
    border-radius: 10px 10px 0px 0px;
}

.body17 {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 700px;
    height: 580px;
    margin-left: 50px;
    background-color: #fff;
}

.body17 img {
    margin: 30px 0px 0px 30px;
    width: 640px;
    height: 365px;
    border-radius: 10px 10px 0px 0px;
}

.page3 {
    padding-left: 30px;
    color: #0053d8;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.page4 {
    padding-left: 30px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.page5 {
    padding-left: 30px;
    color: #7a7a7a;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}



































































































.display-flex {
    display: flex;
    margin: 20px 0px 0px 100px;
}

.body2 {
    border: 1px solid #000;
    background-color: #121212;
    width: 100%;
    height: 450px;
}

.body3 {
    margin: 50px 100px 0px 120px;
    font-size: 25px;
    color: #fff;
}

.body4 {
    margin: 50px 0px 0px 140px;
    border: none;
    width: 200px;
    height: 250px;
    font-family: 'Inter', sans-serif;
}

.body4 p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.body4 a {
    line-height: 35px;
    color: #7a7a7a;
    text-decoration: none;
}

.body4 a:hover {
    color: #ffffff;
    font-size: 17px;
}

.body5 {
    margin: 50px 0px 0px 70px;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 200px;
    height: 250px;
    color: #fff;
}

.body5 p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.body5 a {
    line-height: 35px;
    color: #7a7a7a;
    text-decoration: none;
}

.body5 a:hover {
    color: #ffffff;
    font-size: 17px;
}

.body6 {
    margin: 50px 0px 0px 70px;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 200px;
    height: 250px;
    color: #fff;
}

.body6 p {
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.body6 a {
    line-height: 35px;
    color: #7a7a7a;
    text-decoration: none;
}

.body6 a:hover {
    color: #ffffff;
    font-size: 17px;
}

.page9 {
    padding: 30px 0px 20px 0px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 25px;
}

.page10 {
    color: #7a7a7a;
    font-size: 17px;
    padding: 20px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
}

.page11 {
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    padding: 5px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
}

.page12 {
    margin-top: 90px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}